.Footer {
  background-color: var(--primary-color);
  padding: 0.5rem;
  text-align: center;
}

.Footer-text {
  font-size: 0.7rem;
  margin: 0;
}

.Footer-text a {
  color: var(--text-color);
  text-decoration: underline;
}

.Footer-text a:hover {
  opacity: 0.8;
}
